# Activar mod_rewrite
RewriteEngine On
RewriteBase /public/

# Eliminar .php de la URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L]

# Redirigir todas las peticiones a index.php (Front Controller)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
